{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>
					<i>{{heroes.name}}</i>
				</h1>
			</div>
			<div class="col-12">
				description
			</div>

		</div>
	</div>
{% endblock %}
