<h1>Activez votre compte</h1>
<p>Bonjour
	{{username}}
</p>
<p>Votre inscription sur le site
	<strong>OTHERWATCH</strong>
	est à valider en cliquant ci dessous:</p>
<p>
	<a href="{{signedUrl}}">Valider mon mail</a>
</p>
<p>Ce lien expirera dans 1 heures</p>
