{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>
					<i>OTHERWATCH</i>
				</h1>
			</div>
			{% for heroe in heroes %}


				<div class="card col-3 mh-500 d-flex align-items-stretch ">
					<a href="#" class="text-decoration-none">
						<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSioWxL93UsW57DpcTe8HxCKG26b47NsUDXB6-Jd9ZY2icXH8aFptyAB9AbIzEpdg4YGrE&usqp=CAU" alt="Card image cap">
						<div class="card-title text-center">

							<strong>
								<i>
									<h3>{{heroe.name}}</h3>
								</strong>
							</i>

						</div>
					</a>
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
