{% extends 'base.html.twig' %}

{% block title %}Otherwatch page administrateur
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">Blackwatch</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="card bg-dark col-4 mh-500 d-flex align-items-stretch">
		<div class="card-title text-center">
			<p>Utilisateurs</p>
			<div class="card-content text-center"></div>
			<a href="">Créer un utilisateur</a>
			<a href="">Gerer les utilisateurs</a>
		</div>
	</div>
	<div class="card bg-dark col-4 mh-500 d-flex align-items-stretch">
		<div class="card-title text-center">
			<p>Héros</p>
			<div class="card-content text-center"></div>
			<a href="">Créer un héros</a>
			<a href="{{ path('app_admin_heroe') }}">Gerer les héros</a>
		</div>
	</div>
	<div class="card bg-dark col-4 mh-500 d-flex align-items-stretch">
		<div class="card-title text-center">
			<p>Tickets</p>
			<div class="card-content text-center"></div>
			<a href="{{ path('app_admin_ticket') }}">Gerer des tickets</a>
			<a href="{{ path('app_create_ticket') }}">Soumettre un ticket</a>
		</div>
	</div>
</div>{% endblock %}
