.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.spell-row {
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    height: 80vh;

}

.wrap-spell {
    margin: auto;
    width: 5vw;
    height: 10vh;
    border: solid #1b1b1b 1px;
}

.wrap-spell:hover {
    margin: auto;
    width: 5vw;
    height: 10vh;
    border: solid #00eeff 1px;
}

.wrap-heroe {
    border: solid #1b1b1b 1px;
}

.wrap-heroe:hover {
    border: solid #00eeff 1px;
}

.spell-name {
    font-size: 15px;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    text-align: center;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    position: absolute;
    width: 100%;

    display: none;
}

.comment-section {
    border-radius: 10px;
    background-color: #353536;
}

.grey-text {
    color: #787879
}